@model Lab4.Models.ViewModels.AdsViewModel

@{
    ViewData["Title"] = "Advertisement";
    var cid = Html.ValueFor(model => model.Community.Id);
}

<h1>Show ads for community @Html.DisplayFor(model => model.Community.Title)</h1> 

<p>
    <a asp-action="UploadAd" asp-route-id="@cid" id="cid" name="cid">upload New</a>
    <input type="hidden" id="@cid" name="@cid" />
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
    @if (Model.Advertisements.Count() == 0)
    {
        <p>There are no files to display.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        Images
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Advertisements.OrderBy(i => i.FileName))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            <img src="@item.Url" style="max-width: 400px;" />
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.AdvertisementId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

