@model Lab4.Models.ViewModels.StudentMembershipViewModel

@{
    ViewData["Title"] = "EditMembership";
}

<h1>Edit</h1>
<h2>Student</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
</div>

<div>
    @if (Model.Memberships != null)
    {
        <dl class="row">
            @foreach (var item in Model.Memberships.OrderBy(i => i.IsMember))
            {
                <dt class="col-sm-2"> @item.Title</dt>
                @if (item.IsMember == true)
                {
                    <a class="col-sm-10" asp-action="RemoveMembership" asp-route-id="@item.CommunityId"> Unregister</a>
                }
                else
                {
                    <a class="col-sm-10" asp-action="AddMembership" asp-route-id="@item.CommunityId"> Register</a>
                }
            }
        </dl>

    }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

