@model Lab4.Models.ViewModels.StudentMembershipViewModel

@{
    ViewData["Title"] = "EditMembership";
}

<h1>Edit</h1>
<h2>Student</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
</div>

@{string sid = Html.ValueFor(model => model.Student.Id);

}

<div>
    @if (Model.Memberships != null)
    {
    <dl class="row">
        @foreach (var item in Model.Memberships.OrderBy(i => i.Title))
        {
            @if (item.IsMember == true)
            {<dt class="col-sm-2"> @item.Title</dt>

                <a class="col-sm-10" asp-action="RemoveMembership" asp-route-id="@item.CommunityId,@sid" > Unregister</a>
                <input type="hidden"  id="@sid" />

            }
            else
            { <dt class="col-sm-2"> @item.Title</dt>
                <a class="col-sm-10" asp-action="AddMembership" asp-route-id="@item.CommunityId,@sid" id="@sid" name="@item.CommunityId"> Register</a>
                <input type="hidden" name="@item.CommunityId" id="@sid" />
            }
        }
    </dl>

    }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

