@model Lab4.Models.ViewModels.StudentMembershipViewModel

@{
    ViewData["Title"] = "EditMembership";
}

<h1>Edit</h1>
<h2>Student</h2>
<div>   
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
</div>

<div>
    @if (Model.Memberships != null)
    {
       
        <table class="table">
            
            @foreach (var item in Model.Memberships)
            {
            <tr>
                <td> @item.Title</td>
                @if (item.IsMember == true)
                {
                    <td asp-route-id="@item.CommunityId"> Unregister</td>
                }
                else
                {
                    <td asp-route-id="@item.CommunityId"> Register</td>
                }
            </tr>
            }
        </table>
    }

</div>

